<!doctype html>
<html ng-app="myApp">
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="style.x88726.css">
    <script src="/lib/angular/angular.x88726.js"></script>
    <script src="/socket.io/socket.io.x88726.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="app.x88726.js"></script>
  </head>
  <body ng-controller="mainController">
    <ul id="messages"></ul>
    <div>
      <input id="m" ng-model="message" autocomplete="off" />
      <button ng-click="send()">Send</button>
    </div>
  </body>
</html>
