*{box-sizing: border-box; margin:0; padding: 0;}
body{background: #ffffff;}


/* * * * * * * * * * * * * * * * * * * * * * * *
 * 		navbar
 * * * * * * * * * * * * * * * * * * * * * * * */
header{
	background: #ffffff;
	position:relative;
	width: 100%;
	margin:0; padding:10px 15px; 
	top:0; left:0;
	color:#111111;
	font-size:24px;
}
header a{text-decoration:none; color: #111111;}
header h1{text-align:center;


/* * * * * * * * * * * * * * * * * * * * * * * *
 *              content
 * * * * * * * * * * * * * * * * * * * * * * * */



/* * * * * * * * * * * * * * * * * * * * * * * *
 *              footer
 * * * * * * * * * * * * * * * * * * * * * * * */

footer{
	background:#111111; opacity: 0.5;
	width:100%; height:80px;
	padding: 14px;
}
