*{box-sizing:border-box; margin:0; padding:0;}
body{
	font-style:italic;
	text-align:center;
}
.shadow{
	box-shadow: 0 4px 4px #111111;
}

		/*header*/
header{
	background:#ffffff;
	position: fixed;
	width:100%;
	font-size: 24px;
}
header a{
	text-decoration:none;
	color: #111111;
	padding: 20px 20px;
}
ul{}
		/*content*/
.content{
	width:100%;
}
.content img{
	width:100%;
}

		/*footer*/
footer{
	background:#333333;
}

input{
	display:inline-block;
	margin: 10px auto;
	border: 2px solid #eee;
	padding: 10px 20px;
	font-family:Verdana, Arial, sans-serif;
	font-size: 16px;
}
textarea{
	display: inline-block;
 	margin: 10px auto;
  	border: 2px solid #eee;
  	padding: 10px 20px;
  	font-family: Verdana, Arial, sans-serif;
  	font-size: 16px;
}
