*{box-sizing:border-box; margin:0; padding:0;}
*body{background:#fff;font-size:36px;}

.btn{
	background: steelblue;
	border-radius: 5px;
	width: 96px;
	height: 48px;
	border: none;
}
.btn,.btn:active,.btn:hover,.btn:focus{
	outline: none !important;
}
.btn:hover, .btn:active{background:#fff;}

.nav{
	position: fixed;
	bottom: 0;
	margin: 15px;
}
